# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# ==========================================
# Virtual Environments
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# IDEs
# ==========================================

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# ==========================================
# Machine Learning
# ==========================================

# PyTorch models
*.pt
*.pth
*.ckpt

# ==========================================
# Local configuration
# ==========================================
.env
.env.*

# ==========================================
# Project Structure
# ==========================================
outputs/